body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url(../img/background.bc725153.png);
    background-repeat: no-repeat;
    background-attachment:fixed
}

.article {
    margin: 20px auto;
    width: 950px;
    min-height: 650px;
    background-color: #fff;
    border-radius: 5px;
}

.title {
    width: 98%;
    margin: 5px auto;
}

.post-user {
    width: 98%;
    margin: 5px auto;
    font-weight: bold;
}

.post-time {
    width: 98%;
    margin: 5px auto;
    font-weight: bold;
}

.post-picture {
    width: 98%;
    margin: 5px auto;
    height: 450px;
}

.post-picture img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.content {
    width: 98%;
    margin: 0px auto;
    padding-bottom: 2px;
    font-size: larger;
    font-weight: bolder;
}

.add-comment {
    position: relative;
    width: 950px;
    height: 100px;
    margin: 20px auto;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
}

.username {
    float: left;
    width: 10%;
    line-height: 100px;
    font-size: large;
    font-weight: bold;
    color: #FB7299;
}

.textarea-contianer {
    float: left;
    /* position: relative; */
}

.btn-submit {
    position: absolute;
    top: 7px;
    right: 7px;
}

.comment-record {
    width: 950px;
    margin: 10px auto;
}

.add-comment textarea {
    width: 79%;
    height: 80px;
    margin-top: 7px;
    font-size: large;
    resize: none;
    float: left;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.add-comment button {
    width: 85px;
    height: 85px;
    border: 1px solid #00a1d6;
    color: #fff;
    font-weight: 700;
    background-color: #00a1d6;
    top: 20px;
    right: 20px;
    border-radius: 5px;
}

.add-comment button:hover {
    background-color: #37c8fc;
}

.comment {
    width: 950px;
    min-height: 80px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.comment p {
    text-align: center;
    line-height: 80px;
    font-size: 1rem;
    color: #adadad;
}

.comment-contianer {
    width: 100%;
    height: 80px;
    border-bottom: #e5e9ef 1px solid;
    /* border: 1px solid red; */
}

.comment-contianer:last-child {
    border-bottom: none;
}

.comment-username {
    float: left;
    width: 10%;
    font-size: large;
    line-height: 80px;
    text-align: center;
    font-weight: bold;
    color: #FB7299;
}

.comment-content {
    float: left;
    margin-left: 10px;
    line-height: 80px;
}